*, ::before, ::after{
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-size: 400%;
    animation: bg-animation 10s infinite alternate;
    font-family: Lato;
    text-align: center;
}

@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title{
    letter-spacing: 10px;
    font-size: calc(6em + 4vw);
    font-weight: 900;
}

.info{
    font-size: calc(16px + 1vw);
    max-width: 600px;
}